<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extra/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div>
		<div sec:authorize="isAnonymous()"> 
			<a href="/login">로그인</a>
		</div>
			
		<div sec:authorize="isAuthenticated()">
			<div><div sec:authentication="name"></div></div>
			<div><div sec:authentication="principal.name"></div></div>
			<div><div sec:authentication="authorities"></div></div>
			<a href="/logout">로그아웃</a>
		</div>
	</div>
	
	<div>
		<div><a href="/member/list">사용자 관리</a></div>
		<div><a href="/role/list">권한 관리</a></div>
	</div>
	
</body>
</html>