<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Fait Main</title>

<th:block th:replace="/fragment/head.html :: header"></th:block>
</head>
<body>
	<div>
		<div>
			<h1>FAIT-MAIN</h1>
		</div>
		
		<div>
			<div><a href="customer/list">고객관리</a></div>
		</div>
		
		<div>
			<div><a href="shoe/list">신발관리</a></div>
			<div><a th:href="@{'/store/update/' + ${myStore.ceonum}}">가게수정</a></div>
			<div><a href="store/add">가게등록</a></div>
		</div>
	</div>
</body>
</html>